@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #939393;
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Take full viewport height */
  width: 100vw; /* Full width */
  overflow: hidden;
}

.top-bar {
  height: 40px; /* Fixed height */
  width: 100%;
  background-color: #6a1b9a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed; /* Keeps it at the top */
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-container {
  flex-grow: 1; /* Take remaining space */
  width: 100%; /* Full width */
  height: calc(100vh - 40px); /* Take full height minus the TopBar */
  margin-top: 40px; /* Ensure it starts below the TopBar */
  display: flex;
  flex-direction: row;
  overflow: auto; /* Enables scrolling */
  background-color: #f4f4f4;
}

.main-tab-left {
  width: 25%;
  height: 100%;
  background-color: #1F2430; /* Light purple */
  flex-grow: 1;
  flex-shrink: 0.5; /* Shrinks slower than right tab */
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0;
  overflow-y: hidden;
  overflow-x: auto;
}

.main-tab-right {
  width: 75%;
  height: 100%;
  background-color: #1F2430; /* Light blue */
  flex-grow: 2;
  flex-shrink: 1; /* Shrinks twice as fast as left tab */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color:white;
  overflow:hidden;
}

/* Border between tabs */
.separator {
  width: 2px; /* Slightly wider for visibility */
  height: 100%;
  background: #1f2430c5;
  opacity: 0.9;
}

.separator:hover {
  opacity: 0.5;
}

/*Styles for the Changes Tab*/

.main-top-tab {
  width: 100%;
  height: 60vh; /* Keeps the desired height */
  background-color: #1F2430;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.demoFulltabRemoveLater{
  height:100vh;
}

.main-top-tab-header {
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  padding: 0 10px;
}

.main-top-tab-title {
  margin-left: 10px;
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 9px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  border-bottom: 1px solid #333333;
  margin-top: 1px;
  flex: 0 1 auto; /* Takes only as much space as needed */
  margin-right: 10px;
}

.main-top-tab-content {
  height: 100%;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}



